[submodule "delivery-admin"]
	path = delivery-admin
	url = https://github.com/ThuongDoo/delivery-admin.git
[submodule "delivery-app-API"]
	path = delivery-app-API
	url = https://github.com/ThuongDoo/delivery-app-API.git
[submodule "delivery-client"]
	path = delivery-client
	url = https://github.com/ThuongDoo/delivery-client.git
[submodule "delivery-admin-v2"]
	path = delivery-admin-v2
	url = https://github.com/ThuongDoo/delivery-admin-v2.git
